@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  margin: 0.5rem 0;
}

*::-webkit-scrollbar-thumb {
  margin: 0.25rem;

  background-color: theme("colors.multi-primary-base");

  border-radius: 1.25rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hidden-scrollbar {
  scrollbar-width: none;
}
